/* Sign Up Form 4 */

.timeSlotForm {
  height: auto;
  width: auto; /* Consider changing this to width: 100%; if you want it to span the full width of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: auto;
  background-color: white;
  margin-top: 200px; /* Adjusted to remove additional top margin */
  border-radius: 10px;
  overflow: hidden; /* Prevents scrolling by hiding overflow */
  gap: 50px; /* Adjust this value as needed to increase vertical space */
  text-align: center;
  border-radius: 30px; /* Reduced the border radius by 30% */
  box-shadow: 0 5.6px 11.2px rgba(0, 0, 0, 0.2); /* Reduced the box shadow by 30% */
  margin-top: 200px; 
  margin-bottom: 200px;
  padding: 50px;
}

.timeSlotForm h1 {
  color: black;
  font-size: 40px; /* Reduced the font size by 30% */
  margin: 10px;
  margin-bottom: 50px;
}

.timeSlotForm h2 {
  color: black;
}

.timeSlotForm h3 {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}

.timeSlotForm span {
  color: black;
}


.buttonContainer {
    display: flex;
    flex-direction: row; /* Ensure buttons are side by side */
    justify-content: center; /* Space buttons evenly */
    margin: 10px;
    gap: 20px; /* Adjust the gap as needed for spacing between buttons */
}

.TimeSlotForm button {
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.dateSwitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}


.TimeSlotForm .date {
    font-size: 20px;
    font-weight: bolc;
}

.timeSlotText {
  text-align: center;
  width: 100%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.dateExpandButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive adjustments for iPad */
@media (max-width: 768px) {
  .timeSlotForm {
    width: 100%; /* Full width */
    height: auto; /* Adjust height to be auto for better flexibility */
    padding: 20px; /* Add some padding */
    gap: 30px; /* Increase vertical space */
  }

  .TimeSlotForm button {
    margin: 20px; /* Reduce margin */
    padding: 15px; /* Adjust padding */
    font-size: 25px; /* Adjust font size */
  }

  .TimeSlotForm .date {
    font-size: 18px; /* Adjust font size */
  }

  .signUpForm5Buttons {
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Adjust the gap as needed for spacing between buttons */
  }
}

.timeSlotPickerContainer {
  background-color: orange;
  margin: 40px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 5.6px 11.2px rgba(0, 0, 0, 0.2);
}

.timeSlotPickerContainer input {
  margin: 20px;
}

.nextButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive adjustments for iPhone */
@media (max-width: 480px) {
  .timeSlotForm {
    padding: 10px; /* Further reduce padding */
    gap: 20px; /* Increase vertical space */
  }

  .TimeSlotForm button {
    margin: 10px; /* Further reduce margin */
    padding: 10px; /* Further reduce padding */
    font-size: 20px; /* Further reduce font size */
  }

  .TimeSlotForm .date {
    font-size: 16px; /* Further reduce font size */
  }

  .signUpForm5Buttons {
    flex-direction: column; /* Ensure buttons are stacked vertically */
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Adjust the gap as needed for spacing between buttons */
  }
}

.timeSlotPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TimeSlotForm.module.css */

.timeInput {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white; /* Light grey background */
  border: 1px solid #ccc; /* Light grey border */
  padding: 10px 15px; /* Increase padding for larger touch area */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Larger font size for better readability */
  color: #333; /* Dark grey color for text */
  outline: none; /* Remove the default focus outline */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.timeInput:focus {
  border-color: #007bff; /* Change border color to blue when focused */
}
