.signUpForm1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 70vh; 
    min-width: 320px; /* Minimum width to prevent too much compression */ 
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #ffffff;
    box-shadow: 0 3.92px 7.84px rgba(0, 0, 0, 0.2); /* 30% smaller */
}

.signUpForm1 h1 {
    text-align: center;
    color: black;
    margin-top: 80px;
}

.signUpForm1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;

}

.signUpForm1 input {
    height: 80px;
    width: 830px;
    border-radius: 20px;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signUpForm1 .customDomain {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically, if needed */
}

.signUpForm1 .customDomain .domainRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signUpForm1 .customDomain h1 {
    margin: 0px 10px 10px;
}

.signUpForm1 .customDomain input {
    width: 500px;
}

.signUpForm1 button {
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.inputWithError {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start to match the input field's alignment */
}

.error {
    color: rgb(255, 170, 0); /* Change text color to white */
    font-weight: bold;
    margin-top: 20px; /* Adjust as needed */
    text-align: center; /* Center the text */
    font-size: 25px; /* Increase font size, adjust as needed */
}

input::placeholder {
    color: transparent;
    background: linear-gradient(to right, #f6b947, #f88800);
    -webkit-background-clip: text;
}

@media (max-width: 768px) { /* iPad */
    .signUpForm1 input, .signUpForm1 .customDomain input {
        width: 90%; /* Adjust width to be responsive */
        padding: 15px; /* Reduced padding for smaller screens */
        font-size: 25px; /* Reduced font size for readability */
    }

    .signUpForm1 {
        height: 100vh;
        margin-top: 150px; /* Adjust top margin for smaller screens */
    }

    .signUpForm1 form {
        margin: 50px; /* Reduce margin for the form */
    }

    .signUpForm1 button {
        margin: 20px; /* Reduce margin for buttons */
        padding: 10px; /* Reduced padding */
        font-size: 20px; /* Reduced font size */
    }

    .signUpForm1 .customDomain  .domainRow {
        display: flex;
        flex-direction: column;
    }

@media (max-width: 480px) { /* iPhone */
    .signUpForm1 input, .signUpForm1 .customDomain input {
        width: 85%; /* Further adjust width for smaller screens */
        padding: 10px; /* Further reduced padding */
        font-size: 20px; /* Further reduced font size for readability */
    }

    .signUpForm1 {
        height: 100vh;
        margin-top: 100px; /* Adjust top margin for smaller screens */
    }

    .signUpForm1 form {
        margin: 30px; /* Further reduce margin for the form */
    }

    .signUpForm1 button {
        margin: 15px; /* Further reduce margin for buttons */
        padding: 8px; /* Further reduced padding */
        font-size: 18px; /* Further reduced font size */
    }

    .signUpForm1 .customDomain .domainRow {
        display: flex;
        flex-direction: column;
    }
}
}