.formContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 5.6px 11.2px rgba(0, 0, 0, 0.2);
}

.formContainer h1 {
    color: black;
    font-size: 50px;
    margin: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
}

thead {
    background-color: rgb(255, 198, 92);
}

th, td {
    padding: 8px;
    text-align: left;
}

.formContainer input {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    color: black;
}

.formContainer input::placeholder {
    color: black; /* Set placeholder text color to black */
}

.buttonContainer {
    gap: 20px;
    margin: 20px;
}

/* iPad responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
    .formContainer {
        width: 80%; /* Adjust width for iPad */
        margin: auto; /* Center the form on the page */
        height: auto; /* Adjust height to fit content */
        padding: 20px; /* Add some padding */
    }
}

/* iPhone responsiveness */
@media (max-width: 767px) {
    .formContainer {
        width: 90%; /* Adjust width for iPhone */
        margin: auto; /* Center the form on the page */
        height: auto; /* Adjust height to fit content */
        padding: 10px; /* Add some padding */
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
