.additionalDetailsForm {
    padding-top: 35px; /* Reduced the padding at the top by 30% */
    padding: 20px;
    height: 100%;
    width: 100%; /* Changed to 100% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto;
    border-radius: 7px; /* Reduced the border radius by 30% */
    overflow: hidden; /* Prevents scrolling by hiding overflow */
    background-color: #ffffff;
    border-radius: 21px; /* Reduced the border radius by 30% */
    box-shadow: 0 5.6px 11.2px rgba(0, 0, 0, 0.2); /* Reduced the box shadow by 30% */
    margin-top: 105px; /* Ensure it doesn't go under the header */
}

.additionalDetailsForm h1 {
    color: black;
    font-size: 40px; /* Reduced the font size by 30% */
}

.signUpForm3Buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center the buttons horizontally */
    justify-content: center; /* Center the buttons vertically */
    width: 100%; /* Full width */
    margin: 21px; /* Reduced the margin by 30% */
}

.additionalFieldBasicButton, .additionalFieldExtendedButton {
    background: linear-gradient(to right, #f6b947, #f88800); /* Apply orange gradient */

    padding: 20px; /* Increase padding */
    width: 100%; /* Full width */
    display: block; /* Stack buttons vertically */
    height: 150px;
    margin-bottom: 5px; /* Reduced space between buttons */
    transition: transform 0.3s ease, background 0.3s ease; /* Smooth transition for hover effect and background */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.additionalFieldBasicButton:last-child, .additionalFieldExtendedButton:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
}

.additionalFieldBasicButton:hover, .additionalFieldExtendedButton:hover {
    transform: scale(1.01); /* Slightly increase size on hover */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */

    background: linear-gradient(to right, #e6a537, #d87800); /* Darker gradient on hover */
}

.additionalDetailsForm button {
    margin: 35px; /* Reduced the margin by 30% */
    padding: 14px; /* Reduced the padding by 30% */
    font-size: 40px; /* Reduced the font size by 30% */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.additionalDetailsForm button:hover {
    background-color: #f88800; /* Change background color on hover */
    color: white; /* Change text color on hover */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */

}

.signUpForm3Extended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 21px; /* Reduced the margin by 30% */
    padding: 21px; /* Reduced the padding by 30% */
    max-height: 560px; /* Adjust based on the total height of 8 containers */
}

.signUpForm3Extended ul {
    margin: 50px; /* Reduced the margin by 30% */
    padding: 14px; /* Reduced the padding by 30% */
    list-style: none;
    width: 100%; /* Ensure full width */
}

.signUpForm3Extended li {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px; /* Reduced the font size by 30% */
    height: 70px; /* Reduced the height by 30% */
    width: 100%; /* Ensure full width */
    border-color: black;
}

.fieldContainer {
    height: 70px;
    display: flex;
    justify-content: space-between; /* Pushes items to opposite sides */
    align-items: center;
    width: 100%; /* Full width */
    background-color: rgb(243, 176, 50); /* Ensure this is the orange color */
    animation: fadeIn 0.5s ease-out;
    margin-bottom: 50px; /* Adds space below each fieldContainer */
    border-width: 7px; /* Reduced the border width by 30% */
    border-radius: 7px; /* Reduced the border radius by 30% */
    color: white;
    font-weight: bold;
    padding: 14px; /* Reduced the padding by 30% */
    box-shadow: 0px 1.4px 2.8px rgba(0,0,0,0.1); /* Reduced the box shadow by 30% */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fieldText {
    font-size: 28px; /* Reduced the font size by 30% */
    color: white;
    font-weight: bold;
}

.removeButton {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-size: 14px; /* Reduced the font size by 30% */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* Reduced the height by 30% */
    width: 35px; /* Reduced the width by 30% */
    border-radius: 35%; /* Adjust as needed */
}

.inputAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fieldsListContainer {
    position: relative; /* Ensures that the pseudo-elements are positioned relative to this container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 800px; /* Adjusted for 4 items */
    min-height: 300px; /* Default minimum height */
    overflow-y: auto; /* Enables vertical scrolling */
    width: 100%;
    margin-bottom: 20px; /* Space below the list */
    padding: 0; /* Ensure no padding is pushing content out */
}

.fieldsListContainer.emptyList {
    min-height: 50px; /* Smaller height when list is empty */
}

/* Styles for the scrollbar track */
.fieldsListContainer::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

/* Styles for the scrollbar handle */
.fieldsListContainer::-webkit-scrollbar-thumb {
    background-color: rgb(243, 176, 50); /* Orange color */
    border-radius: 4px; /* Optional: adds rounded corners to the scrollbar handle */
}

/* Styles for the scrollbar track */
.fieldsListContainer::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light grey, or choose another color that fits the design */
}

.fieldsListContainer::before, .fieldsListContainer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px; /* Adjust height based on fade effect requirement */
    z-index: 1;
    pointer-events: none; /* Prevents interference with scrolling */
}

.fieldsListContainer::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

.fieldsListContainer::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
}

.fieldsListContainer ul {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: auto;
}

.fieldsListContainer li {
    margin: 10px; /* Remove margin */
    padding: 0; /* Adjust padding if necessary */
}

.fieldAddContainer {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center;
    margin-top: 4px; /* Reduced the margin-top by 30% */
    width: 90%; /* Full width */
    margin-bottom: 20px; /* Space between input and list */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.fieldAddContainer input {
    height: 70px; /* Reduced the height by 30% */
    width: 100%; /* Adjust width to ensure full width */
    padding: 7px 14px; /* Reduced the padding by 30% */
    color: white;
    font-size: 28px; /* Reduced the font size by 30% */
    background-color: rgb(243, 176, 50);
    border-color: black;
    border-width: 2.1px; /* Reduced the border width by 30% */
    border-radius: 21px; /* Reduced the border radius by 30% */
    font-weight: bold;
}

.fieldAddContainer button {
    background-color: black;
    border: none;
    color: white;
    font-size: 28px; /* Reduced the font size by 30% */
    cursor: pointer;
    height: 70px; /* Reduced the height by 30% */
    width: 20%; /* Adjust as needed */
    border-radius: 7px; /* Reduced the border radius by 30% */
}

.buttonContainer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    width: 100%; /* Take the full width of the parent container */
    margin-bottom: 14px; /* Reduced the margin-bottom by 30% */
    margin-top: 20px; /* Space above buttons */
}

.buttonContainer button {
    margin: 0 7px; /* Reduced the margin by 30% */
    padding: 7px 14px; /* Reduced the padding by 30% */
    font-size: 14px; /* Reduced the font size by 30% */
    font-weight: bold; /* Make the text bold */
    background-color: rgb(0, 0, 0); /* Button background color */
    border: none; /* Remove default border */
    color: white; /* Button text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 3.5px; /* Reduced the border radius by 30% */
}

/* Responsive adjustments for iPad (devices with width up to 768px) */
@media (max-width: 768px) {
    .additionalDetailsForm {
        width: 100%; /* Full width on smaller devices */
        height: auto; /* Adjust height to be auto for better flexibility */
        padding: 14px; /* Reduced the padding by 30% */
    }

    .signUpForm3Extended input, .signUpForm3Extended li {
        width: 100%; /* Make input and list items take full width */
        font-size: 21px; /* Reduced the font size by 30% */
        height: 56px; /* Reduced the height by 30% */
    }

    .signUpForm3 button {
        margin: 14px 0; /* Reduced the margin by 30% */
        padding: 10.5px; /* Reduced the padding by 30% */
        font-size: 17.5px; /* Reduced the font size by 30% */
    }

    .signUpForm3Extended li {
        flex-direction: column; /* Stack elements vertically in list items */
        padding: 10.5px; /* Reduced the padding by 30% */
    }
}

/* Responsive adjustments for iPhone (devices with width up to 480px) */
@media (max-width: 480px) {
    .signUpForm3Extended input, .signUpForm3Extended li {
        font-size: 14px; /* Reduced the font size by 30% */
        height: 42px; /* Reduced the height by 30% */
    }

    .additionalDetailsForm button {
        font-size: 14px; /* Reduced the font size by 30% */
        padding: 7px; /* Reduced the padding by 30% */
    }

    .signUpForm3Extended li {
        padding: 7px; /* Reduced the padding by 30% */
    }
}
