/* Sign Up Form 4 */

.signUpForm4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust based on your needs */
    width: 100%; /* Adjust based on your needs */
    max-width: auto; /* or whatever max width you prefer */
    margin-top: 300px;
    /*border: solid red 10px;*/ 
    border-radius: 10px;
    background-color: green;
}

.signUpForm4Buttons {
    display: flex;
    justify-content: space-between;
}

.signUpForm4 button {
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.signUpForm4Extended {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.signUpForm4Extended input {
    height: 50px;
    width: 300px;
    margin: 10px;
}

.datePicker input {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    height: 50px;
    width: 200px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.datePicker button {
    justify-content: center;
    height: 70px;
}

