/* Sign Up Form 4 */

.signUpForm4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust based on your needs */
    width: 100%; /* Adjust based on your needs */
    max-width: auto; /* or whatever max width you prefer */
    margin-top: 300px;
    /*border: solid red 10px;*/ 
    border-radius: 10px;
    
}

.signUpForm4Buttons {
    display: flex;
    flex-direction: row;
}

.signUpForm4 button {
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.signUpForm4Extended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border: solid red 10px;
}

.signUpForm4Extended input {
    height: 50px;
    width: 300px;
    margin: 10px;
}

