/* Sign Up Form 4 */

.signUpForm4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: auto; 
    max-width: auto; 
    margin-top: 100px; 
    border-radius: 30px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 2.8px 5.6px rgba(0, 0, 0, 0.2); /* 50% smaller */
}

.signUpForm4 h1, h3 {
    color: black;
}

.signUpForm4 h3 {
    font-size: 25px; /* 50px * 0.5 */
}

.checkbox {
    appearance: none;
    background-color: #f0f0f0;
    margin: 5px;
    font-size: 8px; /* 16px * 0.5 */
    width: 15px; /* 30px * 0.5 */
    height: 15px; /* 30px * 0.5 */
    border: 1px solid #555; /* 2px * 0.5 */
    border-radius: 2px; /* 4px * 0.5 */
    position: relative; /* Needed for positioning the pseudo-element */
}

.checkbox:checked {
    background-color: #ffc020;
    border: solid 2.5px #000000; /* 5px * 0.5 */
}

.checkbox:checked::before {
    content: '✔'; /* Unicode character for a checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red; /* Checkmark color */
    font-size: 10px; /* Adjust size as needed */
}

.signUpForm4Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.signUpForm4Extended {
    flex-direction: column;
  
    width: 100%;
    margin: 15px; /* 30px * 0.5 */
    padding: 15px; /* 30px * 0.5 */
}

.datePickerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    padding: 10px;
    margin: 10px;
}


.datePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.datePicker input {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 20px;
    height: 50px; /* 50px * 0.5 */
    width: 200px; /* 200px * 0.5 */
    color: black;
    background-color: white;
    padding: 5px; /* 10px * 0.5 */
    margin: 10px;
    border-radius: 15px; /* 10px * 0.5 */
}

.moreDatesButton, .doneAddingDatesButton {
  
    font-size: 15px;
    height: 75px;
    width: 200px;
    background-color: rgb(247, 177, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.moreDatesButton:hover, .doneAddingDatesButton:hover {
    background-color: black;
    color: white;
}

.deleteDateDateButton {
    height: 35px;
    width: 35px
}

.checkboxLabel {
    display: flex;
    align-items: center;
}


/* iPad responsiveness */
@media screen and (max-width: 1024px) {
    .signUpForm4 {
        height: auto; /* Adjust height for smaller screens */
        width: 90vw; /* Use viewport width for better responsiveness */
        margin-top: 50px; /* Reduce margin */
    }

    .signUpForm4Extended input, .datePicker input {
        width: 80%; /* Make input fields take up more of the form's width */
    }

    .signUpForm4 button {
        margin: 10px; /* Reduce margin */
        padding: 7.5px; /* Adjust padding */
        font-size: 12.5px; /* Adjust font size */
    }
}

/* iPhone responsiveness */
@media screen and (max-width: 414px) {
    .signUpForm4 {
        flex-direction: column; /* Ensure vertical layout */
        width: 95vw; /* Increase width to use more of the viewport */
        margin-top: 20px; /* Further reduce margin */
    }

    .signUpForm4Buttons {
        flex-direction: column; /* Stack buttons vertically */
    }

    .signUpForm4 button, .datePicker button {
        margin: 5px auto; /* Center buttons with automatic horizontal margins */
        padding: 5px; /* Adjust padding */
        font-size: 10px; /* Adjust font size for smaller screens */
    }

    .signUpForm4Extended input, .datePicker input {
        width: 90%; /* Make input fields wider to fill form */
        margin: 2.5px; /* Reduce margin */
    }
}

