/* Sign Up Form 2 */

.AccountSetupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 100%;

}

.AccountSetupFormSect1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.AccountSetupFormHero {
    font-family: 'Protest Strike';
    padding: 30px;
    border-radius: 30px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    min-width: 250px; /* Minimum width to prevent too much compression */
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33, 33, 33)); /* Black to dark gray gradient */
    color: white;
    box-shadow: 0 3.92px 7.84px rgba(0, 0, 0, 0.2); /* 30% smaller */
}

.AccountSetupFormHero .gradientText {
    background: linear-gradient(to right, #f6b947, #f88800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signUpForm2 {
    border-radius: 21px; /* 30% smaller */
    height: 100%; /* 30% smaller */
    width: 70%; /* 30% smaller */
    min-width: 224px; /* 30% smaller */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
  
    margin-left: 10px; /* 30% smaller */
    margin-right: 20px;

    background-color: #ffffff;
    box-shadow: 0 2.744px 5.488px rgba(0, 0, 0, 0.2); /* 30% smaller */
}

.signUpForm2 h1 {
    color: black;
    margin-top: 20px; /* 30% smaller */
}

.signUpForm2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px; /* 30% smaller */
}

.signUpForm2 input {
    height: 39.2px; /* 30% smaller */
    width: 100%; /* 30% smaller */
    border-radius: 9.8px; /* 30% smaller */
    font-size: 19.6px; /* 30% smaller */
    padding: 14.7px; /* 30% smaller */
    margin-bottom: 9.8px; /* 30% smaller */
}

.signUpForm2 button {
    margin: 4.9px; /* 30% smaller */
    padding: 9.8px; /* 30% smaller */
    font-size: 14.7px; /* 30% smaller */
    width: 98px; /* 30% smaller */
}

@media (max-width: 768px) {
    .AccountSetupForm {
        flex-direction: column;
    }

    .signUpForm2 {
        order: -1; /* This will place signUpForm2 above AccountSetupFormHero */
    }

    .AccountSetupFormHero {
        order: 1; /* Optional, as it will naturally follow signUpForm2 */
    }

    .AccountSetupFormSect1 {
        flex-direction: column;
    }

    .AccountSetupFormHero {
        width: auto;
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .signUpForm2 {
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 425px) {
    .AccountSetupFormSect1 {
        flex-direction: column;
    }
}

/* Second Section of 01-AccountSetupForm */

.accountSetupFormSect2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-top: 50px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33, 33, 33)); /* Black to dark gray gradient */
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

.accountSetupFormSect2 h1 {
    font-family: 'Protest Strike';
    color: white;
    font-size: 80px;
}


