/* Sign Up Form 2 */

.signUpForm2 {
    height: 100vh;
    width: 100%; /* Changed to 100% for full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin-top: 0;
    border-radius: 10px;
    overflow: hidden;
}

.signUpForm2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.signUpForm1 h1 {
    text-align: center;
}

.signUpForm2 input {
    height: 80px;
    width: 80%; /* Adjusted for responsiveness */
    border-radius: 20px;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signUpForm2 button {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
}
/* Media queries for responsiveness */
@media (max-width: 768px) { /* For iPads */
    .signUpForm2 {
        width: 100%;
    }

    .signUpForm2 input, .signUpForm2 button {
        width: 90%; /* Adjust width for smaller devices */
        font-size: 20px; /* Smaller font size */
        padding: 15px; /* Adjust padding */
    }

    .signUpForm2 form {
        margin: 50px; /* Reduce margin */
    }
}

@media (max-width: 480px) { /* For iPhones */
    .signUpForm2 {
        width: 100%;
    }

    .signUpForm2 input, .signUpForm2 button {
        width: 90%; /* Adjust width for smaller devices */
        font-size: 18px; /* Even smaller font size */
        padding: 10px; /* Reduce padding */
    }

    .signUpForm2 form {
        margin: 20px; /* Further reduce margin */
    }
}