/* Sign Up Form 2 */

.AccountSetupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    min-height: 100vh;  
    background-color: white;
}

.AccountSetupFormIllustration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AccountSetupForm img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.AccountSetupFormSect1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AccountSetupFormHero h1 {
    color: black;
    font-size: 50px;
}

.AccountSetupFormSect1 h3 {
    font-size: 20px;
    color: grey;
    font-weight: 500;
}

.AccountSetupFormHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    border-radius: 30px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    min-width: 250px; /* Minimum width to prevent too much compression */
}

.AccountSetupFormHero .gradientText {
    background: linear-gradient(to right, #f6b947, #FF9E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signUpForm2 {
    border-radius: 21px; /* 30% smaller */
    height: 100%; /* 30% smaller */
    width: 70%; /* 30% smaller */
    min-width: 224px; /* 30% smaller */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: red;
    box-shadow: 0 2.744px 5.488px rgba(0, 0, 0, 0.2); /* 30% smaller */
}

.signUpForm2 h1 {
    color: black;
    margin-top: 20px; /* 30% smaller */
}


.signUpForm2 input {
    height: 39.2px; /* 30% smaller */
    width: 100%; /* 30% smaller */
    border-radius: 9.8px; /* 30% smaller */
    font-size: 19.6px; /* 30% smaller */
    padding: 14.7px; /* 30% smaller */
    margin-bottom: 9.8px; /* 30% smaller */
}

.signUpForm2 button {
    margin: 4.9px; /* 30% smaller */
    padding: 9.8px; /* 30% smaller */
    font-size: 14.7px; /* 30% smaller */
    width: 98px; /* 30% smaller */
}

@media (max-width: 768px) {
    .AccountSetupFormHero {
        text-align: center;
    }
    .formExamplesRow {
        flex-direction: column;
        align-items: center;
    }
    .AccountSetupFormHero h1, .AccountSetupFormSect1 h3 {
        font-size: 35px; /* Adjusted from 50px and 20px respectively */
    }
    .AccountSetupForm img {
        width: 40%; /* Reduced from 50% */
    }
}

@media (max-width: 480px) {
    .AccountSetupFormHero h1 {
        font-size: 35px; /* Further reduced from iPad sizes */
    }

    .AccountSetupFormSect1 h3 {
        font-size: 15px;
    }
    .AccountSetupForm img {
        width: 90%; /* Increased to maintain visibility at smaller sizes */
    }
    .AccountSetupForm, .AccountSetupFormSect1 {
        width: 100%; /* Ensure full width usage */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

/* Second Section of 01-AccountSetupForm */

.accountSetupFormSect2 {
    display: flex !important;
    flex-direction: row;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
    padding: 20px !important;
    border-radius: 30px !important;
    color: black !important;
    margin-top: 20px;
}

.accountSetupFormSect2 .userTestimonials {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensure alignment to the center */
    margin: 20px;
}

@media (min-width: 1200px) {
    .accountSetupFormSect2 .userTestimonials {
        flex-direction: row;
        margin: 20px;
    }
}

@media (max-width: 1199px) {
    .accountSetupFormSect2 .userTestimonials {
        flex-direction: column;
        margin: 20px;
    }

    .accountSetupFormSect2 .userTestimonials .userReview {
        max-height: 500px; /* Reduced from 700px */
        min-height: 300px; /* Reduced from 500px */
    }
}

.userTestimonials .userReview {
    margin-bottom: 30px;
    height: 500px;
}

.userTestimonials .userReview .profilePicContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.userTestimonials .userReview h4 {
    font-weight: 500;
}

.userTestimonials .userReviewName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.userTestimonial_1, .userTestimonial_2, .userTestimonial_3 {
    width: 100%;
    min-width: 200px;
    height: 600px;
    background-color: #FFD9AA;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important; /* Drop shadow */

}

.userTestimonial_1 img, .userTestimonial_2 img, .userTestimonial_3 img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0px 30px 0px 0px;

}

@media (min-width: 1200px) {
    .accountSetupFormSect2 h1 {
        text-align: center;
    }

}



/* Third Section of 01-AccountSetupForm */


.accountSetupFormSect3 {
    text-align: center;
    color: black;
    background-color: #FFD9AA;
    padding: 40px;
    
}

.formExamples {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Ensure the container takes full width */
}

.formType {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 20px;
}

.formExamplesRow {
    display: flex;
    justify-content: space-around; /* Ensures spacing between the items */
    margin-bottom: 20px; /* Adds some space between rows */
}

@media (max-width: 768px) {
    .formExamplesRow {
        flex-direction: column;
        align-items: center;
    }
}

.formExamplesRow > div {
    flex: 0 0 45%; /* Each child takes up roughly 45% of the row */
    max-width: 45%; /* Ensures no more than two items per row */
    box-sizing: border-box;
    padding: 10px; /* Adds some padding to each item */
    text-align: center; /* Centers the text inside each form type */
}

.formExamplesRow h2 {
    margin-bottom: 20px;
}

.formExamplesRow img {
    width: 200px;
    margin: 10px;
    background-color: #FFB577;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 2.744px 5.488px rgba(0, 0, 0, 0.2); /* 30% smaller */
 
}

/* Fourth Section of 01-AccountSetupForm */

.accountSetupFormSect4 {
    text-align: center;
    color: black;
    background-color: #FFD9AA;
    padding: 40px;
}

.featuresContent .feature {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.feature .featureText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.feature img {
    border-radius: 30px;
    box-shadow: 0 2.744px 5.488px rgba(0, 0, 0, 0.2);
    
}

/* Fifth Section of 01-AccountSetupForm */

.accountSetupFormSect5 {
    margin: 20px;
    padding: 20px;
}

.accountSetupFormSect5 h1, h2, p {
    color: black;
    text-align: center;
}

.accountSetupFormSect5 ul {
    color: black;
}

.pricingContainer {
    display: flex;
    flex-direction: row;
    
  
}

.pricingBox {
  
    background-color: #FFD9AA;
    width: 400px;
    min-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0 2.744px 5.488px rgba(0, 0, 0, 0.2);
}