.headerStyle {
    height: 105px; /* Reduced the height by 30% */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    position: fixed;
    top: 0;
}

.headerStyle h1 {
    font-size: 56px; /* Reduced the font size by 30% */
    color: black;
    font-family: 'Protest Strike';
}

.headerStyle h1 span {
    color: var(--orange);
}

.headerStyle button {
    margin: 7px; /* Reduced the margin by 30% */
}

.headerStyle span {
    color: black;
}

/* iPad Screen */
@media screen and (max-width: 1024px) {
    .headerStyle {
        height: 84px; /* Reduced the height by 30% */
    }
    .headerStyle h1 {
        font-size: 42px; /* Reduced the font size by 30% */
    }
}

/* iPhone Screen */
@media screen and (max-width: 768px) {
    .headerStyle {
        height: 70px; /* Reduced the height by 30% */
    }
    .headerStyle h1 {
        font-size: 28px; /* Reduced the font size by 30% */
    }
}
