@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --orange: #FBA834;
    --navy: #333A73;
    --blue: #387ADF;
    --retro: rgb(56, 122, 223);
    --kids: rgb(80, 196, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
   }

html, body {
    margin: 0;
    padding: 0;
}

.home {
    /* background-image: radial-gradient(circle, #f6b947, #f88800); */
    background-color: white;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

