.dashboardContainer {
    display: flex;
    width: 100%;  /* Ensure it spans the full viewport width */
    height: 100vh; /* Ensure it spans the full viewport height */
    flex-direction: column;
    justify-content: top; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 50px 0 0; /* Adjust padding to only apply vertically */


    overflow: auto; /* Allows scrolling if content overflows */


    background-color: white;
    
}

.dashboardContainer h3 {
    font-size: 50px;
    

}


/* Dashboard Section 1 */

.dashboardSect1 {
    display: flex;
    flex-direction: row;
    color: #828282;
 
    width: 100%;
}

.dashboardProfile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.dashboardProfile .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.dashboardProfile img {
    height: 200px;
    width: 200px;
    min-width: 200px;
    background-color: lightblue; /* Change background color to light blue */
    border-radius: 15px; /* Adjust border-radius to make it a rounded square */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}



/* Dashboard Section 2 */

.dashboardSect2 {
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 20px;
}

.dashboardSect2 h2 {
    font-size: 30px;
    margin-left: 40px;
    color: #828282;
}

.dashboardFormButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.dashboardFormButtons .newSignUpFormButton {    
    background-color: #FFD9AA;
    color: black;
    padding: 20px;
    font-size: 40px;
    width: 200px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dashboardFormButtons .newSignUpFormButton span {
    color: black;
    font-weight: bold;
}

.dashboardFormButtons .newBasicFormButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFB577;
    color: black;
    padding: 20px;
    font-size: 40px;
    width: 200px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dashboardFormButtons .newBasicFormButton span {
    color: black;
    font-weight: bold;
}

