.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0 0;
    overflow: auto;
    background-color: white;
}

.dashboardContainer h3 {
    font-size: 53px;
}

/* Dashboard Section 1 */
.dashboardSect1 {
    display: flex;
    flex-direction: column;
    color: #828282;

    width: 100%;
}

.dashboardProfile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;

    height: auto;
}

.dashboardProfile .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    height: auto;
    padding: 0;
    margin: 0;
}

.dashboardProfile .userInfo h1 {
    font-size: 30px;
}

.dashboardProfile img {
    height: 150px;
    width: 150px;
    min-width: 100px;
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* Dashboard Section 2 */
.dashboardSect2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.dashboardSect2 h2 {
    font-size: 30px;
    margin-left: 40px;
    color: #828282;
}

.dashboardFormButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.dashboardFormButtons .newSignUpFormButton {    
    background-color: #FFD9AA;
    color: black;
    padding: 20px;
    font-size: 30px;
    width: 200px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dashboardFormButtons .newSignUpFormButton span {
    color: black;
    font-weight: bold;
}

.dashboardFormButtons .newSignUpFormButton:hover {
    transform: scale(1.05);
}

.dashboardFormButtons .newBasicFormButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFB577;
    color: black;
    padding: 20px;
    font-size: 30px;
    width: 200px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dashboardFormButtons .newBasicFormButton span {
    color: black;
    font-weight: bold;
}

.dashboardFormButtons .newBasicFormButton:hover {
    transform: scale(1.05);
}

/* Dashboard Section 3 */
.dashboardSect3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: white;
    height: 500px;
    color: grey;
}

.dashboardFormsContainer {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
}

.dashboardForms {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    cursor: grab;
    transition: transform 0.3s ease;
}

.dashboardForm:hover {
    transform: scale(1.05);
}

.dashboardForm:active {
    cursor: grabbing;
}

/* For Webkit browsers */
.dashboardForms::-webkit-scrollbar {
    height: 8px;
    background-color: #f0f0f0; /* Light grey background */
}

.dashboardForms::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f0f0f0; /* Light grey to match the scrollbar height */
}

.dashboardForms::-webkit-scrollbar-thumb {
    background-color: #828282; /* Dark grey to match the dashboard color theme */
    border-radius: 10px;
    border: 2px solid #f0f0f0; /* Light grey border to match the track */
}

.fadeEffect {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    pointer-events: none;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.fadeEffect.left {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

.fadeEffect.right {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}

.dashboardForm {
    background-color: #FFD9AA;
    color: black;
    padding: 20px;
    font-size: 30px;
    min-width: 200px;
    min-height: 150px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dashboardForm h4 {
    font-size: 25px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.dashboardForm p {
    font-size: 15px;
}

.userFormButton {
    background-color: #FFA500;
    color: white;
    padding: 20px;
    font-size: 20px;
    width: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}
