.dashboardContainer {
    display: flex;
    width: 100vw;  /* Ensure it spans the full viewport width */
    height: 100vh; /* Ensure it spans the full viewport height */
    flex-direction: column;
    justify-content: top; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 20px;
    background-color: orange;
    overflow: auto; /* Allows scrolling if content overflows */
    padding-top: 200px;
}

.dashboardContainer h3 {
    font-size: 50px;
    color: black;
}

.innerDashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.innerUpperDashboard {
    display: flex;
    flex-direction: row;
}

.editProfileSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10px;
    padding: 50px;
    border-radius: 40px;
    width: 500px;
}

.profileSection .userProfilePic {
    height: 100px;
    width: 100px;
    background-color: gray; /* Default background if no image */
    border: 5px solid black;
    border-radius: 50%; /* Makes the element circular */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileSection .userProfilePic::before {
    content: "?"; /* Default text if no image */
    font-size: 10px;
    color: black;
}

.profileSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10px;
    padding: 50px;
    border-radius: 40px;
    width: 500px;


}

.profileSection .usernameDisplay {
    font-size: 40px;
}

.formList {
    background-color: green;
    width: 100%;
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.formItem {
    border-bottom: 1px solid #e1e1e1;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.formItem:last-child {
    border-bottom: none;
}

.newFormButton {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.newFormButton:hover {
    background-color: #003d82;
}

